{% extends "base.html" %}

{% block content %}
<h1>Inbox</h1>

<a href="/">Return to the homepage</a>
<div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
    <ul id="inboxTabs" class="nav nav-tabs" role="tablist">
      <li role="presentation" class="dropdown">
        <a href="#" id="myMsgs" class="dropdown-toggle" data-toggle="dropdown" aria-controls="myMsgs-contents">Your Messages<span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="myMsgs" id="myMsgs-contents">
          <li class="active"><a href="#inbox" tabindex="-1" role="tab" id="inbox-tab" data-toggle="tab" aria-controls="inbox" aria-expanded="true">Inbox</a></li>
          <li><a href="#trash" tabindex="-1" role="tab" id="trash-tab" data-toggle="tab" aria-controls="trash">Trash</a></li>
        </ul>
      </li>
      <li role="presentation"><a href="#sent" id="sent-tab" role="tab" data-toggle="tab" aria-controls="sent">Sent</a></li>
      <li role="presentation"><a href="#compose" role="tab" id="compose-tab" data-toggle="tab" aria-controls="compose">Compose</a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
      <div role="tabpanel" class="tab-pane fade" id="compose" aria-labelledBy="compose-tab">
        <a href="/inbox/compose/">Click here to send a message to someone</a>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="sent" aria-labelledBy="sent-tab">
        <a href="/inbox/sent/">Click here to view messages that you have sent</a>
      </div>
      <div role="tabpanel" class="tab-pane fade in active" id="inbox" aria-labelledBy="inbox-tab">
        <a href="/inbox/inbox/">Click here to view messages that people have sent to you</a>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="trash" aria-labelledBy="trash-tab">
        <a href="/inbox/trash/">Click here to view your inbox messages that you have deleted</a>
      </div>
    </div>
  </div>
  {% endblock %}

