

{% block content %}
<body background="/static/img/change.jpg">
               <div id="menu"style="background: #d3e7dd;"> 
               
                    <ul>
                         <li class="active">

                                <a href="/" accesskey="1" title="">
                                <font size="4">Back to Homepage</font></a></li>
                                
                    </ul>
               </div>



<form action="{% url 'changepassword' %}" method="POST" >{% csrf_token %}
	<center>
	<h1>Change Password</h1>
    <table>
    <tr><td>{{form}}</td></tr>
    <tr><td></td><td><input type="submit" value="Save Changes" />
</td></tr>
    </table>
</center>

{% endblock %}
